doctype 5
html
  head
    title Happy Friday
    link(rel="stylesheet", href="/css/style.css")
  body
    block content

    script(src="/js/lib/jquery.js")
    script(src="/js/lib/underscore.js")
    script(src="/js/lib/backbone.js")

    script(src="/js/ns.js")  
    script(src="/js/models/user.js")
    script(src="/js/collections/users.js")
    script(src="/js/views/users.js")
    script(src="/js/views/user.js")
    script(src="/js/app.js")