script(type="text/plain", id="tpl_user")
  | <div class="error"></div>
  | <input name="firstname" value="<%=firstname %>" /><br/>
  | <input name="lastname" value="<%=lastname %>" /><br/>
  | <button>Edit</button>
