script(type="text/plain", id="tpl_users")
  | <table>
  | <% if (users.length == 0) { %>
  |   <tr>
  |     <td>There are no users yet.</td>
  |   </tr>
  | <% } %>
  | <% users.forEach(function(user) { %>
  |   <tr>
  |     <td><%=user.firstname%></td>
  |     <td><%=user.lastname%></td>
  |     <td><button data-id="<%=user.id%>" class="edit">Edit</button></td>
  |     <td><button data-id="<%=user.id%>" class="del">Delete</button></td>
  |   </tr>
  | <% }); %>
  |   <tr>
  |     <td><button class="add">Add</button></td>
  |   </tr>
  | </table>